.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__contact-content {
    flex: 1;
    width: 100%;

    &__container {
      width: 100%;
      max-width: 600px;
      margin: 25px auto;
      background-color: $dark;
      border-radius: 10px;
      padding: 16px 12px;

      &__title {
        color: $white;
        font-size: 1.35rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      &__faq-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &__contact-title-wrapper {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        margin-bottom: 10px;

        &__title {
          font-size: 1.35rem;
          font-weight: 600;
          color: $white;
        }

        &__desc {
          font-size: 0.9rem;
          color: $white;
          opacity: 0.7;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__inputs-wrapper {
          display: flex;
          flex-direction: column;
          background-color: $darkPurple;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 10px;

          &__label {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 10px;
            font-size: 0.9rem;
            font-weight: 600;
            color: $white;

            &__input {
              padding: 8px 12px;
              font-size: 1rem;
              color: #5a5a5a;
              border-radius: 10px;
              border: none;
              outline: none;
              transition: border 0.3s ease;
            }

            &__select {
              appearance: none;
              border: none;
              border-radius: 10px;
              background-image: url("../assets/arrow-down-select.svg");
              background-repeat: no-repeat;
              background-position: right 0.75rem center;
              background-size: 16px 12px;
              font-size: 1rem;
              padding: 8px 12px;
              outline: none;
              color: #5a5a5a;
              transition: border 0.3s ease;
            }

            &__textarea {
              padding: 8px 12px;
              height: 150px;
              font-size: 1rem;
              color: #5a5a5a;
              border-radius: 10px;
              border: none;
              outline: none;
              resize: none;
              transition: border 0.3s ease;
            }

            &__tip {
              font-size: 0.8rem;
              color: $white;
              opacity: 0.7;
              font-weight: 400;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &__submit-btn {
          background-color: $blue;
          border: none;
          border-radius: 4px;
          color: $white;
          padding: 8px;
          font-size: 1rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          cursor: pointer;
          outline: none;

          @include breakpoint(largeScreen) {
            transition: filter 0.4s ease;

            &:hover {
              filter: brightness(80%);
            }
          }
        }
      }
    }
  }
}

.contact-error-message {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(209, 52, 52);
}
