.edit-raffle {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    width: 100%;
    flex: 1;

    &__back-btn {
      padding: 10px 15px;
      margin-bottom: 20px;
      background-color: $blue;
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      font-weight: 500;
      color: $white;
      cursor: pointer;
      outline: none;

      @include breakpoint(largeScreen) {
        transition: filter 0.4s ease;

        &:hover {
          filter: brightness(80%);
        }
      }
    }

    &__container {
      width: 100%;
      max-width: 600px;
      margin: 25px auto;
      padding: 16px 12px;
      background-color: $dark;
      border-radius: 10px;

      &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $white;
        margin-bottom: 10px;
      }

      &__statistics-wrapper {
        width: 100%;
        background-color: $darkPurple;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;

        &__progress-bar {
          background-color: $darkBlue;
          border-radius: 20px;
          overflow: hidden;
          height: 25px;
          margin-bottom: 10px;
          position: relative;

          &__bar {
            background-color: $blue;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: width 0.4s ease;

            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $white;
              font-weight: 600;
            }
          }
        }

        &__numbers-buyed {
          border: 2px solid $darkBlue;
          border-radius: 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-bottom: 10px;

          .number-buyed-loading {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &__box {
              width: 60px;
              height: 60px;
              overflow: hidden;

              &__loading-animation {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }

          p {
            color: $white;
            font-size: 1rem;
            opacity: 0.7;
          }
        }

        &__remaining-numbers {
          border: 2px solid $darkBlue;
          background-color: transparent;
          border-radius: 10px;
          width: 100%;
          height: 150px;
          padding: 10px;
          font-size: 1rem;
          color: $white;
          outline: none;
          resize: none;
        }
      }

      &__form {
        background-color: $darkPurple;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &__image-label {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 25px;
          margin-top: 15px;

          &__image-box {
            width: 100%;
            height: 100%;
            max-width: 150px;
            max-height: 150px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            &__image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          &__input {
            display: none;
          }
        }

        &__inputs-box {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 10px;

          &__label {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 0.9rem;
            color: $white;
            font-weight: 600;

            &__input {
              padding: 8px 12px;
              font-size: 1rem;
              color: #5a5a5a;
              border-radius: 10px;
              border: none;
              outline: none;
              transition: border 0.4s ease;
            }

            &__textarea {
              padding: 8px 12px;
              font-size: 1rem;
              color: #5a5a5a;
              border-radius: 10px;
              border: none;
              outline: none;
              transition: border 0.4s ease;
              height: 150px;
              resize: none;
            }

            &__select {
              appearance: none;
              border: none;
              border-radius: 10px;
              background-image: url("../assets/arrow-down-select.svg");
              background-repeat: no-repeat;
              background-position: right 0.75rem center;
              background-size: 16px 12px;
              font-size: 1rem;
              padding: 8px 12px;
              outline: none;
              color: #5a5a5a;
              transition: border 0.4s ease;
            }
          }
        }

        &__submit-btn {
          width: 100%;
          border-radius: 4px;
          border: none;
          background-color: #5c636a;
          padding: 10px;
          font-size: 1rem;
          font-weight: 600;
          color: $white;
          cursor: pointer;
          outline: none;
        }
      }

      &__finish-raffle-container {
        width: 100%;
        background-color: $darkPurple;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: relative;

        .winner-fetching {
          background-color: $darkPurple;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;

          &__box {
            width: 100px;
            height: 100px;
            overflow: hidden;

            &__loading-animation {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }

        &__title {
          font-size: 1.125rem;
          color: $white;
          font-weight: 600;
          margin-bottom: 20px;
        }

        &__input {
          padding: 8px 12px;
          font-size: 1rem;
          color: #5a5a5a;
          border-radius: 10px;
          border: none;
          outline: none;
          transition: border 0.4s ease;
          margin-bottom: 10px;
        }

        .finish-number-error {
          color: rgb(209, 52, 52);
          font-size: 0.9rem;
          transform: translateY(-7px);
        }

        &__finish-btn {
          background-color: $green;
          padding: 10px 15px;
          border-radius: 6px;
          border: none;
          font-size: 1rem;
          font-weight: 600;
          color: $white;
          cursor: pointer;
          outline: none;
          margin-bottom: 20px;

          @include breakpoint(largeScreen) {
            transition: filter 0.4s ease;

            &:hover {
              filter: brightness(80%);
            }
          }
        }

        &__reset-btn {
          background-color: rgb(209, 52, 52);
          padding: 10px 15px;
          border-radius: 6px;
          border: none;
          font-size: 1rem;
          font-weight: 600;
          color: $white;
          cursor: pointer;
          outline: none;
          margin-bottom: 20px;

          @include breakpoint(largeScreen) {
            transition: filter 0.4s ease;

            &:hover {
              filter: brightness(80%);
            }
          }
        }

        &__finishing-btn {
          background-color: $green;
          padding: 10px 15px;
          border-radius: 6px;
          border: none;
          font-size: 1rem;
          font-weight: 600;
          color: $white;
          pointer-events: none;
          outline: none;
          margin-bottom: 20px;
          filter: brightness(80%);
        }

        &__winner-display-box {
          width: 100%;

          &__winner-box {
            width: 100%;
            background-color: $darkBlue;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            &__image-box {
              width: 50px;
              min-width: 50px;
              max-width: 50px;
              height: 50px;
              min-height: 50px;
              max-height: 50px;
              border-radius: 50%;
              overflow: hidden;

              &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }

            &__info-box {
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 5px;

              &__contacts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                &__name {
                  font-size: 1.15rem;
                  font-weight: 600;
                  color: $white;
                }

                span {
                  font-size: 1rem;
                  color: $white;
                }
              }

              &__winner-number {
                font-size: 1rem;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
