.register {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__register-content {
    flex: 1;
    width: 100%;

    &__form {
      width: 100%;
      max-width: 600px;
      margin: 25px auto;
      background-color: $dark;
      border-radius: 10px;
      padding: 16px 12px;

      &__image-label {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        &__image-box {
          width: 100%;
          min-width: 150px;
          max-width: 150px;
          height: 100%;
          min-height: 150px;
          max-height: 150px;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;

          &__image {
            width: 100%;
            min-width: 150px;
            height: 100%;
            min-height: 150px;
            object-fit: cover;
            object-position: center;
            position: relative;
          }
        }

        &__input {
          display: none;
        }
      }

      &__profile-data-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $darkPurple;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        span {
          color: rgb(209, 52, 52);
          font-size: 0.9rem;
        }

        &__label {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 0.9rem;
          color: $white;
          font-weight: 600;

          &__input {
            padding: 8px 12px;
            font-size: 1rem;
            color: #5a5a5a;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: border 0.4s ease;
          }
        }
      }

      &__location-data-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 10px;
        background-color: $darkPurple;
        border-radius: 10px;
        margin-bottom: 10px;

        span {
          color: rgb(209, 52, 52);
          font-size: 0.9rem;
        }

        &__label {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 0.9rem;
          font-weight: 600;
          color: $white;

          &__input {
            padding: 8px 12px;
            font-size: 1rem;
            color: #5a5a5a;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: border 0.4s ease;
          }

          &__select {
            appearance: none;
            border: none;
            border-radius: 10px;
            background-image: url("../assets/arrow-down-select.svg");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            font-size: 1rem;
            padding: 8px 12px;
            outline: none;
            color: #5a5a5a;
            transition: border 0.4s ease;
          }
        }
      }

      &__save-btn {
        width: 100%;
        border-radius: 4px;
        border: none;
        background-color: #5c636a;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        color: $white;
        cursor: pointer;
        outline: none;
      }
    }
  }

  &__update-password-content {
    width: 100%;
    max-width: 600px;
    margin: 0px auto 25px;

    &__title {
      font-size: 1.35rem;
      font-weight: 600;
      color: #fff;
      margin-bottom: 15px;
    }

    &__form-box {
      width: 100%;
      padding: 16px 12px;
      background-color: $dark;
      border-radius: 10px;

      &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $darkPurple;
        padding: 10px;
        border-radius: 10px;

        &__label {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 0.9rem;
          color: #fff;
          font-weight: 600;

          &__input {
            padding: 8px 12px;
            font-size: 1rem;
            color: #5a5a5a;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: border 0.4s ease;
          }

          &__error {
            font-size: 0.9rem;
            font-weight: 500;
            color: rgb(209, 52, 52);
          }
        }

        &__submit-button {
          margin-top: 15px;
          background-color: $green;
          border: none;
          border-radius: 4px;
          padding: 10px;
          font-size: 0.9rem;
          font-weight: 600;
          color: #fff;
          outline: none;
          cursor: pointer;
          transition: filter 0.3s ease;

          &:hover {
            filter: brightness(80%);
          }

          &:disabled {
            filter: brightness(80%);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
